* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFE5E5;
    display: flex;
    justify-content: center;
}

.container{
    width: 300px;
    height: 300px;
    background-color: #5D12D2;
    position: absolute;
    top: 100px;
    border-radius: 10%;
    box-shadow: 10px 0.5rem grey  ;
}

.title{
    color: #FF6AC2;
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
}

.output{
    color: #FF6AC2;
    text-align: center;
    margin-top: 80px;
    font-size: 1.5rem;
}

.label{
    color: #FF6AC2;
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
}

.container input {
    background-color: #B931FC;
    color: #FFE5E5;
    margin: 90px;
    margin-top: 0;
}
